#!/bin/bash

{% for n in nodes %}
{% for d in n.disk %}
if [ ! -f {{ hypervisor.workdir }}/{{ d.name }} ]; then
    qemu-img create -f qcow2 {{ hypervisor.workdir }}/{{ d.name }} {{ d.size }}
fi

{% endfor %}    
{% endfor %}