export WORK_DIR={{ hypervisor.workdir }}
export DISK_SIZE={{ common.os_disk_size }}
export DISK_IMAGE_NAME="{{ node.image }}"

# Customize image installation:
cd ${WORK_DIR}
\rm -f {{ node.disk[0].name }} 2>/dev/null
cp ${DISK_IMAGE_NAME} {{ node.disk[0].name }}


umount /mnt 2>/dev/null

start=`fdisk -l {{ node.disk[0].name }} | grep -P 'Linux filesystem' | awk '{print $2}'`
startb=$(($start*512))
mount -o loop,rw,offset=${startb} {{ node.disk[0].name }} /mnt/

# Define network:
\rm -f /mnt/etc/netplan/00-installer-config.yaml 
cat << EOF > /mnt/etc/netplan/01-network-manager-all.yaml
network:
  ethernets:
    eth0:
      addresses: 
        - {{ node.oam_ip }}/{{ network.oam.netmask_len }}
      gateway4: {{ network.oam.gateway }}
      nameservers:
        addresses: 
         - {{ network.oam.dns }}
{% for n in node.external_ips %}
    eth{{ loop.index }}:
      addresses: 
        - {{ n }}/{{ network.external[loop.index - 1].netmask_len }}
{% endfor %}         
  version: 2
EOF

cat /mnt/etc/netplan/01-network-manager-all.yaml > /mnt/etc/netplan/00-installer-config.yaml 
rm -f /mnt/etc/netplan/50-cloud-init.yaml 2>/dev/null


cat << EOF > /mnt/etc/hosts
127.0.0.1 localhost
127.0.1.1 localhost
{{ node.oam_ip }} {{ node.name }} {{ node.name }}.{{ network.domain }}

# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
EOF

cat << EOF > /mnt/etc/hostname
{{ node.name }}.{{ network.domain }}
EOF

{% for k in authorized_keys %}
cat << EOF >> /mnt/home/cloud/.ssh/authorized_keys
{{ k }}
EOF
{% endfor %}


cat  << EOF > /mnt/etc/apt/apt.conf.d/20auto-upgrades
APT::Periodic::Update-Package-Lists "0";
APT::Periodic::Download-Upgradeable-Packages "0";
APT::Periodic::AutocleanInterval "0";
APT::Periodic::Unattended-Upgrade "1";
EOF


# Umount
umount /mnt
cd ${WORK_DIR}
qemu-img convert -f raw -O qcow2 {{ node.disk[0].name }} {{ node.disk[0].name }}_converted
rm {{ node.disk[0].name }}
mv {{ node.disk[0].name }}_converted {{ node.disk[0].name }}
qemu-img resize {{ node.disk[0].name }} {{ node.disk[0].size }}