<domain type='kvm' id='2'>
  <name>{{ vm_name }}</name>
  <memory unit='KiB'>{{ ram }}</memory>
  <currentMemory unit='KiB'>{{ ram }}</currentMemory>
  <vcpu placement='static'>{{ cpus }}</vcpu>
  <resource>
    <partition>/machine</partition>
  </resource>
  <os>
    <type arch='x86_64' >hvm</type>
    <boot dev='hd'/>    
    <boot dev='cdrom'/>
    <bootmenu enable='yes'/>
  </os>
  <features>
    <acpi/>
    <apic/>
  </features>
  <cpu mode='{{ virt.cpu.mode }}' match='{{ virt.cpu.match }}' check='{{ virt.cpu.check }}'>
    <model fallback='forbid'>{{ virt.cpu.model }}</model>
    <vendor>{{ virt.cpu.vendor }}</vendor>
    {% for i in virt.cpu.features %}
    <feature policy='{{ i.policy }}' name='{{ i.name }}'/>    
    {% endfor %}
  </cpu>
  <clock offset='utc'>
    <timer name='rtc' tickpolicy='catchup'/>
    <timer name='pit' tickpolicy='delay'/>
    <timer name='hpet' present='no'/>
  </clock>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>
  <pm>
    <suspend-to-mem enabled='no'/>
    <suspend-to-disk enabled='no'/>
  </pm>
  <devices>
    <emulator>{{ virt.qemu_path }}</emulator>

    {% for d in disk %}   
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{ dire }}/{{ d.name }}'/>
      <backingStore/>
      <target dev='{{ d.dev }}' bus='{{ d.bus }}'/>
      <alias name='{{ d.bus }}0-0-{{ d.unit }}'/>
      <address type='drive' controller='0' bus='0' target='0' unit='{{ d.unit }}'/>
    </disk>
    {% endfor %}

    <controller type='usb' index='0' model='ich9-ehci1'>
      <alias name='usb'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x04' function='0x7'/>
    </controller>
    <controller type='usb' index='0' model='ich9-uhci1'>
      <alias name='usb'/>
      <master startport='0'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x04' function='0x0' multifunction='on'/>
    </controller>
    <controller type='usb' index='0' model='ich9-uhci2'>
      <alias name='usb'/>
      <master startport='2'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x04' function='0x1'/>
    </controller>
    <controller type='usb' index='0' model='ich9-uhci3'>
      <alias name='usb'/>
      <master startport='4'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x04' function='0x2'/>
    </controller>
    <controller type='pci' index='0' model='pci-root'>
      <alias name='pci.0'/>
    </controller>
    <controller type='ide' index='0'>
      <alias name='ide'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x01' function='0x1'/>
    </controller>


    <interface type='network'>      
      <source network='{{ network.oam.name }}' bridge='{{ network.oam.name }}'/>
      <mac address='{{ oam_mac }}'/>
      <target dev='{{ network.oam.dev }}'/>
      <model type='{{ network.oam.type }}'/>
      <alias name='{{ network.oam.alias }}'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='{{ network.oam.slot }}' function='0x0'/>
    </interface>

    {% for n in network.external %}
    <interface type='network'>      
      <source network='{{ n.name }}' bridge='{{ n.name }}'/>
      <target dev='{{ n.dev }}'/>
      <model type='{{ n.type }}'/>
      <alias name='{{ n.alias }}'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='{{ n.slot }}' function='0x0'/>
    </interface>
    {% endfor %}

    <serial type='pty'>
      <source path='/dev/pts/1'/>
      <target type='isa-serial' port='0'>
        <model name='isa-serial'/>
      </target>
      <alias name='serial0'/>
    </serial>
    <console type='pty' tty='/dev/pts/1'>
      <source path='/dev/pts/1'/>
      <target type='serial' port='0'/>
      <alias name='serial0'/>
    </console>
    <input type='mouse' bus='ps2'>
      <alias name='input0'/>
    </input>
    <input type='keyboard' bus='ps2'>
      <alias name='input1'/>
    </input>
    <graphics type='vnc' port='{{ vnc_port }}' autoport='no' listen='{{ vnc_ip }}'>
      <listen type='address' address='{{ vnc_ip }}'/>
    </graphics>
    <video>
      <model type='cirrus' vram='16384' heads='1' primary='yes'/>
      <alias name='video0'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x02' function='0x0'/>
    </video>
    <memballoon model='virtio'>
      <alias name='balloon0'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x05' function='0x0'/>
    </memballoon>
  </devices>
</domain>
