#!/bin/bash

function delete(){
    {% if h1 == virtual_router.hypervisor.name %}
    # Delete namespace and interfaces:
    ip netns delete {{ virtual_router.name }} 2>/dev/null
    {% for i in virtual_router.interfaces %}
    
    ip link del {{ i.name }} 2>/dev/null 
    {% endfor %}
    {% endif %}

    # Delete networks:
    virsh net-destroy {{ network.oam.name }} 2>/dev/null 
    virsh net-undefine {{ network.oam.name }} 2>/dev/null
    {% for n in  network.external %}
    
    virsh net-destroy {{ n.name }}
    virsh net-undefine {{ n.name }}
    {% endfor %}

    # Delete vlans:    
    ip link del "{{ network.oam.external_interface }}"."{{ network.oam.external_vlan }}" 2>/dev/null

    {% for n in network.external %}
    ip link del "{{ n.external_interface }}"."{{ n.external_vlan }}" 2>/dev/null
    {% endfor %}    

    exit 0
}

function create(){
    sysctl -w net.ipv4.ip_forward=1

    # Create namespace:
    {% if h1 == virtual_router.hypervisor.name %}
    
    ip netns add {{ virtual_router.name }}
    # Create networks and add to the namespace:
    {% for i in virtual_router.interfaces %}  
    ip link add {{ i.name }} type veth peer name {{ i.peer.name }}
    ip link set {{ i.peer.name }} netns {{ virtual_router.name }}
    ip link set {{ i.name }} up
    ip netns exec {{ virtual_router.name }} ip link set {{ i.peer.name }} up

    {% if i.ip != "None" %}
    
    ip addr add {{ i.ip }} dev {{ i.name }}
    {% endif %}
    
    ip netns exec {{ virtual_router.name }} ip addr add {{ i.peer.ip }} dev {{ i.peer.name }}
    {% endfor %}
    {% endif %}   

    # Add Networks
    virsh net-define /tmp/{{ network.oam.name }}.xml
    virsh net-start {{ network.oam.name }}
    
    {% for n in  network.external %}
    
    virsh net-define /tmp/{{ n.name }}.xml
    virsh net-start {{ n.name }}
    
    {% endfor %}

    # Add interfaces to the bridges
    {% for i in virtual_router.interfaces %} 
    {% if i.master != "None" %}

    ip link set {{ i.name }} master {{ i.master }}
    {% endif %}
    {% endfor %}

    # Routes:
    {% for r in virtual_router.external_routes %}

    ip route add {{ r.network }} via {{ r.gw}}
    {% endfor %}

    {% for r in virtual_router.internal_routes %}
    ip netns exec {{ virtual_router.name }} ip route add {{ r.network }} via {{ r.gw }} 
    {% endfor %}

    # Create vlans:
    ip link set "{{ network.oam.external_interface }}" up    
    ip link add link "{{ network.oam.external_interface }}" "{{ network.oam.external_interface }}"."{{ network.oam.external_vlan }}" type vlan id "{{ network.oam.external_vlan }}"
    ip link set "{{ network.oam.external_interface }}"."{{ network.oam.external_vlan }}" master "{{ network.oam.name }}"
    ip link set "{{ network.oam.external_interface }}"."{{ network.oam.external_vlan }}" up 

    {% for n in network.external %}
    
    ip link set "{{ n.external_interface }}" up    
    ip link add link "{{ n.external_interface }}" "{{ n.external_interface }}"."{{ n.external_vlan }}" type vlan id "{{ n.external_vlan }}"
    ip link set "{{ n.external_interface }}"."{{ n.external_vlan }}" master "{{ n.name }}"
    ip link set "{{ n.external_interface }}"."{{ n.external_vlan }}" up    
    {% endfor %}

    # Masquerade networks:
    iptables -t nat -F
    {% for e in virtual_router.masquerade %}
    
    # iptables -t nat -A POSTROUTING -o {{ e }} -j MASQUERADE 
    {% endfor %}

    # Enable ip_forward    
    ip netns exec {{ virtual_router.name }} sysctl -w net.ipv4.ip_forward=1

    exit 0 

}

echo "<network>
    <name>{{ network.oam.name }}</name>      
    <bridge name='{{ network.oam.name }}' stp='on' delay='0' />   
</network>" > /tmp/{{ network.oam.name }}.xml

{% for n in  network.external %}
echo "<network>
    <name>{{ n.name }}</name>      
    <bridge name='{{ n.name }}' stp='on' delay='0' />   
</network>" > /tmp/{{ n.name }}.xml
{% endfor %}

case $1 in
    delete) delete;;
    create) create;;
    *) exit 1;;
esac
